[Interface]
Address = 10.23.5.1/24, fc00:23:5::1/64
ListenPort = 1678
PrivateKey = {{ wg_private_key.stdout }}
{% if ansible_default_ipv4.interface is defined %}
{% if ansible_default_ipv6.interface is defined %}
PreUp = iptables -t nat -A POSTROUTING -s 10.23.5.0/24  -o {{ ansible_default_ipv4.interface }} -j MASQUERADE; ip6tables -t nat -A POSTROUTING -s fc00:23:5::/64 -o {{ ansible_default_ipv6.interface }} -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -s 10.23.5.0/24  -o {{ ansible_default_ipv4.interface }} -j MASQUERADE; ip6tables -t nat -D POSTROUTING -s fc00:23:5::/64 -o {{ ansible_default_ipv6.interface }} -j MASQUERADE
{% else %}
PreUp = iptables -t nat -A POSTROUTING -s 10.23.5.0/24  -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -s 10.23.5.0/24  -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
{% endif %}
{% else %}
{% if ansible_default_ipv6.interface is defined %}
PreUp = ip6tables -t nat -A POSTROUTING -s fc00:23:5::/64 -o {{ ansible_default_ipv6.interface }} -j MASQUERADE
PostDown = ip6tables -t nat -D POSTROUTING -s fc00:23:5::/64 -o {{ ansible_default_ipv6.interface }} -j MASQUERADE
{% endif %}
{% endif %}

# Notebook
#[Peer]
#PublicKey = 
#AllowedIPs = 10.23.5.2/32, fc00:23:5::2/128

# Mobile
#[Peer]
#PublicKey = 
#AllowedIPs = 10.23.5.3/32, fc00:23:5::3/128

